/* import spreadsheet styles */
@import "@dhx/trial-spreadsheet/codebase/spreadsheet.min.css";

/* specify basic styles for initial page */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* specify styles for the Spreadsheet container */
.widget {
  height: 100%;
}
